@{
    Layout = "_Custom";
}
<!-- Menu Section-->
<section class="main-section-menu bg-light bb-1">
    <ul class="main-section-menu-ul" id="mainSectionMenu">
        <li><a href="javascript:void(0);" id="iAuditDashboard" class="ms-menu-link active">Dashboard</a></li>
        <li><a asp-action="Members" id="iAuditTemplate" class="ms-menu-link">Members</a></li>
        <li><a asp-action="Task" id="iAuditInspection" class="ms-menu-link">Task</a></li>
        <li><a asp-action="Messages" id="iAuditAnalytics" class="ms-menu-link">Messages</a></li>
        <li><a id="logout" class="ms-menu-link">Logout</a></li>
    </ul>
</section>
<!--// Menu Section-->

<div class="d-flex dashboard-wrapper justify-content-center  h100">
    <div class="dashboard-left overflow-auto d-flex flex-column">
        <!-- Daily Activity -->
        <div class="dashboard-daily-activity">
            <h4 class="title font-semi-bold fs-16 text-dark">Admin Dashboard</h4>
            <div class="dashboard-daily-activity-wrapper">
                <ul class="dashboard-daily-activity-wrapper-ul d-flex flex-wrap">
                    <li class="dashboard-daily-activity-item border daily-item-success">
                        <div class="d-flex align-items-center">
                            <span class="daily-acitivity-icon"><i class="icon-agentinfoon"></i></span>
                            <span id="TotalMember" class="daily-acitivity-count"></span>
                        </div>
                        <div class="daily-acitivity-title text-dark ellipsis">Total Members</div>
                    </li>
                    <li class="dashboard-daily-activity-item border daily-item-green">
                        <div class="d-flex align-items-center">
                            <span class="daily-acitivity-icon"><i class="icon-clock"></i></span>
                            <span id="PendingTask" class="daily-acitivity-count"></span>
                        </div>
                        <div class="daily-acitivity-title text-dark ellipsis">Pending Task</div>
                    </li>
                    <li class="dashboard-daily-activity-item border daily-item-brown">
                        <div class="d-flex align-items-center">
                            <span class="daily-acitivity-icon"><i class="icon-invite-user"></i></span>
                            <span id="ApproveMembers" class="daily-acitivity-count"></span>
                        </div>
                        <div class="daily-acitivity-title text-dark ellipsis">Approve Users</div>
                    </li>
                    <li class="dashboard-daily-activity-item border daily-item-red">
                        <div class="d-flex align-items-center">
                            <span class="daily-acitivity-icon"><i class="icon-agentinfooff"></i></span>
                            <span id="NotApprove" class="daily-acitivity-count">0</span>
                        </div>
                        <div class="daily-acitivity-title text-dark ellipsis">Not Approve Users</div>
                    </li>
                </ul>
            </div>
        </div>
        <!--// Daily Activity -->


    </div>
</div>





<script>
    $(document).ready(function () {
        var Total;
        $.ajax({
            url: "http://localhost:5136/api/Admin/AllMembers",
            type: "GET",
            success: function (count) {
                Total =count;
                $('#TotalMember').html(count)
            },
            error: function (xhr) {
                alert("Error fetching approved users: " + xhr.responseText);
            }
        });

        $.ajax({
            url: "http://localhost:5136/api/Admin/PendingTask",
            type: "GET",
            success: function (count) {
                console.log(count)
                $('#PendingTask').html(count)
            },
            error: function (xhr) {
                alert("Error fetching approved users: " + xhr.responseText);
            }
        });

        $.ajax({
            url: "http://localhost:5136/api/Admin/ApproveMembers",
            type: "GET",
            success: function (count) {
                console.log(count)
                $('#ApproveMembers').html(count)
                $('#NotApprove').html(Total-count)
            },
            error: function (xhr) {
                alert("Error fetching approved users: " + xhr.responseText);
            }
        });
    })
</script>
<script>
    $(document).ready(function () {
        $("#logout").on("click", function (e) {
            e.preventDefault();
            sessionStorage.removeItem("userEmail");
            window.location.replace("/Home/Login");
        });
    });
</script>
