@{
    Layout = "_CustomA";
}
<!-- Menu Section-->
<section class="main-section-menu bg-light bb-1">
    <ul class="main-section-menu-ul" id="mainSectionMenu">
        <li><a asp-action="Index" id="iAuditDashboard" class="ms-menu-link">Dashboard</a></li>
        <li><a href="javascript:void(0);" id="iAuditTemplate" class="ms-menu-link active">Members</a></li>
        <li><a asp-action="Task" id="iAuditInspection" class="ms-menu-link">Task</a></li>
        <li><a asp-action="Messages" id="iAuditAnalytics" class="ms-menu-link">Messages</a></li>
                <li><a id="logout" class="ms-menu-link">Logout</a></li>

</section>

<!--// Menu Section-->
@* <img src="~/profile_images/dhruvilbarvaliaya20@gmail.com.png" alt=""> *@

<!--// Main Section-->
<div class="d-flex dashboard-wrapper justify-content-center align-items-center h100 mt-15 ">
    <div class="dashboard-left   d-flex flex-column h100">
        <div class="scrum-dataimport-header-block bg-light d-flex border mb-15">

            <div class="searchbar w100 p-10 pb-5">
                <div class="clear-input search-box w100">
                    <input type="text" name="txtTagListSearch" id="MemberElaticInput" aria-label="tag name"
                        class="form-control k-textbox k-valid" placeholder="Search Members here...">
                    <i class="icon-search" aria-hidden="true"></i>
                    <a role="button" id="ElasticClear" aria-label="Clear Search" href="javascript:void(0);"
                        class="btn-icn-hover close icon-cancel" data-ara-title="Clear Search"></a>
                </div>
                <div class="action-div d-flex">
                    <a href="javascript:void(0);" class="btn btn-raised btn-primary btn-block mr-5" role="button"
                        aria-haspopup="true" aria-expanded="false" id="MemberElaticSearch"><i aria-hidden="true"
                            class="icon-search"></i><span>Search</span></a>
                </div>
            </div>

        </div>
        <div class="flex-1 overflow-auto">
            <div class="grid-wrapper h100 dataimport-grid">
                <div id="Dataimportgrid"></div>
                <div id="Dataimportgrid-pager" class="with-more-option"></div>
            </div>
        </div>
    </div>
</div>


</div>
<!-- option menu -->
<ul id="popup" class="grid-options" style="display: none;">
    <li class="goto">
        <span class="text-muted">Go to page</span>
        <span>
            <input type="text" id="page_goto" class="form-control" />
        </span>
        <span class="text-muted">0</span>
        <span class="text-muted">pages</span>
    </li>
    <li class="rpp">
        <span class="text-muted">Record per page</span>
        <select class="k-dropdown" id="pagerDropdown">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </li>
</ul>

@* Approv User model *@
<div id="task-window-table">
    <div class="window-wrapper">
        <input hidden id="UserId" type="text">
        <div class="mb-10">

            <img id="UserProfile" style="width: 100%; height: 300px;"
                alt="UserProfileImage">
        </div>
        <div class="mb-10">
            <h5 class="fw-bolder">User Name</h5>
            <p id="Username"></p>
        </div>
        <div class="mb-10">
            <h5 class="fw-bolder">User Email</h5>
            <p id="Useremail"></p>
        </div>
        <div class="mb-10">
            <h5 class="fw-bolder">Gender</h5>
            <p id="UserGender"></p>
        </div>
        <div class="mb-10">
            <h5 class="fw-bolder">User Status</h5>
            <p>Not Approved</p>
        </div>
    </div>
    <div class="window-footer">
        <a class="btn btn-trans close-window">Cancel</a><a id="approveUserBtn" class="btn btn-primary">Save</a>
    </div>
</div>

@* Show Approv user script *@
<script>
    $("#task-window-table").kendoWindow({
        width: 450,
        title: "Approve User",
        visible: false,
        draggable: false,
        resizable: false,
        actions: [
            "Close"
        ],
        modal: true
    }).data("kendoWindow");

    $(document).on('click', '.not-approve-btn', function () {
        $("#task-window-table").data("kendoWindow").center().open();
    });
</script>

<script>
    $("#Dataimportgrid").kendoGrid({
        dataSource: fieldData,
        totalRecordPerPage: 5,
        scrollable: true,
        resizable: false,
        autoBind: true,

        config: { CurrentPage: 0, TotalPage: 10, RecordPerPage: 10, TotalRecord: 100, searchText: "" },
        columns: [
            { selectable: true, width: "50px" },
            { field: "datano", title: "No", width: "90px" },
            { field: "dataid", title: "id", width: "135px" },
            {
                field: "datareq", title: "requirment/user story Title",
                attributes: {
                    "class": "white-space-normal",
                }
            },
            { field: "dataTpl", title: "Tpl/Tl", width: "190px" },
            { field: "dataAss", title: "Assigned to", width: "170px" },
            { field: "dataVal", title: "value area (business Architectural)", width: "260px" },
            { field: "dataInt", title: "iteration no", width: "200px" },
        ]
    }).data("kendoGrid");

    $("#Dataimportgrid-pager").kendoPager({
        dataSource: fieldData,
        refresh: true
    });
    fieldData.read();

    $("#Dataimportgrid-pager").append("<div class='more-oprion'><span class='separator'></span><a href='javascript:void(0)' id='moreOption' class='text-muted btn-default-hover'><i class='icon-option'></i></a></div>");

    var popup = $("#popup").kendoPopup({
        animation: false,
        anchor: $("#moreOption"),
        origin: "top right",
        position: "bottom right",
        collision: "fit",

    }).data("kendoPopup");

    $("#moreOption").click(function () {
        $("#popup").data("kendoPopup").open()
    });

    $("#pagerDropdown").kendoDropDownList({
        popup: {
            appendTo: 'body'
        }
    });
</script>

<script>
    $(document).ready(function () {
        const apiUrl = "http://localhost:5136/api/task";
        // Fetch Data from API
        $.ajax({
            url: "http://localhost:5136/api/Admin/users", // Adjust API URL if needed
            type: "GET",
            dataType: "json",
            success: function (data) {
                var formattedData = data.map((user, index) => ({
                    datano: index,
                    dataid: user.c_uid,
                    datareq: user.Name,
                    dataTpl: user.Email,
                    dataAss: user.c_gender,
                    dataVal: user.c_profilepicture,
                    dataInt: user.c_user_status
                }));

                $("#Dataimportgrid").kendoGrid({
                    dataSource: {
                        data: formattedData,
                        pageSize: 5
                    },
                    pageable: true,
                    scrollable: true,
                    resizable: false,
                    autoBind: true,
                    columns: [
                        { selectable: true, width: "50px" },
                        { field: "datano", title: "No", width: "90px" },
                        { field: "dataid", title: "ID", width: "135px" },
                        { field: "datareq", title: "Name", width: "200px" },
                        { field: "dataTpl", title: "Email", width: "200px" },
                        { field: "dataAss", title: "Gender", width: "120px" },
                        {
                            field: "dataVal",
                            title: "Profile Picture",
                            width: "150px",
                            template: "<img src='/profile_images/#: dataVal #' width='50' height='50' alt='Profile' />"
                        },

                        {
                            field: "dataInt",
                            title: "Action",
                            width: "150px",
                            template: function (dataItem) {
                                if (dataItem.dataInt) {
                                    return "<button class='btn btn-success approve-btn' data-id='" + dataItem.dataid + "'>Approved</button>";
                                } else {
                                    return "<button class='btn btn-danger not-approve-btn' data-id='" + dataItem.dataid + "'>Not Approved</button>";
                                }
                            }
                        }
                    ],
                    dataBound: function () {
                        $(".not-approve-btn").off("click").on("click", function () {
                            var grid = $("#Dataimportgrid").data("kendoGrid");
                            var row = $(this).closest("tr");
                            var dataItem = grid.dataItem(row);

                            if (dataItem) {
                                $("#UserId").val(dataItem.dataid);
                                $("#Username").html(dataItem.datareq);
                                $("#Useremail").html(dataItem.dataTpl);
                                $("#UserGender").html(dataItem.dataAss);
                                $("#UserProfile").attr("src", "/profile_images/"+dataItem.dataVal);
                            }
                        });
                    }
                });
            },
            error: function () {
                alert("Failed to fetch data.");
            }
        });


        // Approve User
        $("#approveUserBtn").click(function () {
            let userId = $("#UserId").val();
            $.ajax({
                url: apiUrl + "/approve/" + userId,
                type: "PUT",
                success: function (response) {
                    alert(response.message);
                },
                error: function (xhr) {
                    alert("Error approving user: " + xhr.responseText);
                }
            });
        });
    });

</script>

<script>
    $('#ElasticClear').click(function () {
        window.location.reload();
    })
    $('#MemberElaticSearch').click(function () {
        var searchWord = $('#MemberElaticInput').val();

        $.ajax({
            url: "http://localhost:5136/api/Admin/name?name=" + searchWord, // Adjust API URL if needed
            type: "GET",
            dataType: "json",
            success: function (data) {
                var formattedData = data.map((user, index) => ({
                    datano: index,
                    dataid: user.c_uid,
                    datareq: user.Name,
                    dataTpl: user.Email,
                    dataAss: user.c_gender,
                    dataVal: user.c_profilepicture,
                    dataInt: user.c_user_status
                }));

                $("#Dataimportgrid").kendoGrid({
                    dataSource: {
                        data: formattedData,
                        pageSize: 5
                    },
                    pageable: true,
                    scrollable: true,
                    resizable: false,
                    autoBind: true,
                    columns: [
                        { selectable: true, width: "50px" },
                        { field: "datano", title: "No", width: "90px" },
                        { field: "dataid", title: "ID", width: "135px" },
                        { field: "datareq", title: "Name", width: "200px" },
                        { field: "dataTpl", title: "Email", width: "200px" },
                        { field: "dataAss", title: "Gender", width: "120px" },
                        {
                            field: "dataVal", title: "Profile Picture", width: "150px",
                            template: "<img src='/profile_images/#: dataVal #' width='50' height='50' alt='Profile' />"
                        },
                        {
                            field: "dataInt",
                            title: "Action",
                            width: "150px",
                            template: function (dataItem) {
                                if (dataItem.dataInt) {
                                    return "<button class='btn btn-success approve-btn' data-id='" + dataItem.dataid + "'>Approved</button>";
                                } else {
                                    return "<button class='btn btn-danger not-approve-btn' data-id='" + dataItem.dataid + "'>Not Approved</button>";
                                }
                            }
                        }
                    ],
                    dataBound: function () {
                        $(".not-approve-btn").off("click").on("click", function () {
                            var grid = $("#Dataimportgrid").data("kendoGrid");
                            var row = $(this).closest("tr");
                            var dataItem = grid.dataItem(row);

                            if (dataItem) {
                                $("#UserId").val(dataItem.dataid);
                                $("#Username").html(dataItem.datareq);
                                $("#Useremail").html(dataItem.dataTpl);
                                $("#UserGender").html(dataItem.dataAss);
                                $("#UserProfile").attr("src", "/profile_images/"+dataItem.dataVal);

                            }
                        });
                    }
                });
            },
            error: function () {
                alert("Failed to fetch data.");
            }
        });


    })
</script>


<script>
    $(document).ready(function () {
        $("#logout").on("click", function (e) {
            e.preventDefault();
            sessionStorage.clear()
            sessionStorage.removeItem("userEmail");
            window.location.replace("/Home/Login");
        });
    });
</script>