@{
    Layout = "_Custom";
}
<!-- Menu Section-->
<section class="main-section-menu bg-light bb-1">
    <ul class="main-section-menu-ul" id="mainSectionMenu">
        <li><a asp-action="Index" id="iAuditDashboard" class="ms-menu-link">Dashboard</a></li>
        <li><a asp-action="Members" id="iAuditTemplate" class="ms-menu-link">Members</a></li>
        <li><a asp-action="Task" id="iAuditInspection" class="ms-menu-link">Task</a></li>
        <li><a href="javascript:void(0);" id="iAuditSchdules" class="ms-menu-link active">Reports</a></li>
        <li><a asp-action="Messages" id="iAuditAnalytics" class="ms-menu-link">Messages</a></li>
    </ul>
</section>
<!--// Menu Section-->