<!DOCTYPE html>
<html>
<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Clarent Institute Login</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon">

    <link href="~/css/Default/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/Default/css/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/Default/css/fonts.css" rel="stylesheet" />
    <link href="~/css/Default/css/Css icon/all.min.css" rel="stylesheet" />
    <link href="~/css/Default/css/styleguide.css" rel="stylesheet" />
    <link href="~/css/Default/css/responsive.css" rel="stylesheet" />
    <link href="~/css/Default/css/casepoint.comfortable.css" rel="stylesheet" />
    <link href="~/css/Default/css/kendo.Red.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Default\css\casepoint.comfortable.css">

    <link href="~/css/Default/css/login.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Kendo/jquery.min.js"></script>
    <script src="~/js/Kendo/kendo.all.min.js"></script>

    <script src="~/js/CLARENT/Other/Custom/clarant-custom.js"></script>
    <script src="~/js/CLARENT/Other/Custom/Custom.js"></script>
</head>
<body>
    @RenderBody()
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>